[config]
title=EESSI status!
logging_level=WARN
min_ok_stratum1=2
contact_email=support@eessi.io

[stratum0]
rug-nl-s0.eessi.science

[stratum1]
aws-eu-central-s1.eessi.science
azure-us-east-s1.eessi.science

[repositories]

[ignored_repositories]
test.eessi.io
